.navbar-brand-box {
    text-align: left;
}

.navbar-brand-box .logo {
    color: #fff;
}

.sub-note {
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 12px;
    line-height: 0;
    font-style: italic;
    display: block;
}

table tbody th,
table tbody td {
    vertical-align: middle;
}

.table-action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table-edits .empty {
    color: green;
    font-weight: 900;
}

.delete-icon input[role=button] {
    background: none;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.desk-overview-img {
    width: 100%;
    max-width: 100px;
}

.leaflet-map {
    height: 550px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background: none;
}

table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
    background-color: #EFF2F7;
    font-weight: 600;
}

.leaflet-popup-content {
    min-width: 200px;
}

.leaflet-popup-content .form-label,
.leaflet-popup-content .form-control {
    font-size: 14px;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 5px;
    right: 5px;
    color: #f46a6a;
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.floor-map-date {
    margin: 0 auto;
    max-width: 200px;
}

/* PROFILE OVERVIEW */
.profile_overview .form-control {
    border: 0;
    pointer-events: none;
}

.profile_overview form p {
    padding-left: 10px;
}

@media (max-width: 992px) {
    .navbar-brand-box {
        width: 200px;
    }
}

/* #leaflet-map {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    } */